body{
    background-color: rgb(14, 14, 14);
    z-index: 500000;
}

.post {
    z-index: 1000;
    width: 20%;
    margin: .5rem auto;
    border: 1px solid black;
    padding: 1rem;
    height: 520px;
    position: relative;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    overflow-x: scroll;
}

.comment {
    border: 1px solid gray;
    padding: 1rem;
    margin: .5rem;

}
.reel{
    position: absolute;
    top: 0rem;
    left: 1rem;
}
h2{
    margin-top: 40%;
    width: 80%;
}
p{
    width: 80%;
    position: absolute;
    bottom: .5rem;
}
i{
    width: 20px;
}
svg{
    width: 40px;
    position: absolute;
    right: 16px;
    top: 55%;
}
.img{
    background-color: rgb(56, 56, 56);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 25%;
}
.page{
    margin-bottom: 1rem;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-bottom: 0;
    max-width: 600px;
}
.pageContent{
    background-color: rgb(138, 138, 138);
    width: 100%;
    max-width: 600px;
    z-index: 30000000000000;
}
.follow{
    position: absolute;
    left: 20%;
    top: 69.5%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    content: s;
}
.hide{
    display: none;
}
#close{
    width: 10px;
    height: 10px;
}